/* setting up the body which contains all of the website */
body{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color: lightblue;
}
/* this effects the header, which contains the h1 and the navigation bar */
header {
    font-size: 32px;
    border-bottom: 10px solid green;
    padding: 20px;
    background-color:dimgrey;
}
h1{
    display: inline-block;
    border: 1px solid blue;
    padding-left: 100px;
    line-height: 200%;
    padding-right: 5px;
    margin-left: -25px;
    background-color:lightblue;

}
.navigation-bar {
    padding: 10px;
    margin-top: -60px;

}
.navigation-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navigation-bar ul li{
    
    padding: 10px;
    display: inline;
    border-bottom: 3px solid blue;
    margin-left: 10px;

}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
/* this affects the 3 main sections of the Portfolio, that being the About Me, My Work and Contact Me */
.section{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 20px;
    
}
/* the left side of each section is the h2 */
h2{
    flex:1;
    font-size: 50px;
    border-right:  solid;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
/* the right side of each section is section-2 */
.section-2{
    flex: 4;
    padding: 20px;
    margin-left: 20px;
}
#about-descr{
    text-align: center;
    font-size: 20px;
}
/* this affects all images */
img{
    width: 50%;
    padding: 5px;
}

#work-img{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* this is the large main image */
#main-img{
    width: 80%;
}
/* the other listed images */
#other-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* this is the contact info listings */
.contact-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-info li{
    flex: 1;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    margin-left: 20px;
    border-bottom: solid blue;
    list-style: none;
}
/* this changes the layout of the website when the max-width is 890 or lower */
@media screen and (max-width: 890px) {
    h1{
        text-align: center;
        display: block;
        margin: 0;
        padding: 10px;
    }
    .navigation-bar{
        margin-top: 0px;
    }
    .navigation-bar ul {
      flex-direction: column;
      text-align: center;
    }
    h2{
        text-align: center;
        width: 50%;
        border-right: none;
        border-bottom: solid;
    }
    .section{
        flex-direction: column;
        align-items: center;
    }
  }