body{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background-color: dimgray;
}
header {
    line-height: 200%;
    font-size: 32px;
    border-bottom: 10px solid green;
    padding: 20px 20px 40px 20px;
    background-color:dimgrey;
}
h1{
    display: inline-block;
    border: 1px solid blue;
    padding-left: 100px;
    padding-right: 5px;
    margin-left: -25px;
    background-color:lightblue;

}
.navigation-bar {
    padding: 10px;
    float: right;

}
li{
    padding: 10px;
    display: inline;
    border-bottom: 3px solid blue;
    color:white;

}
a{
    text-decoration: none;
    color: black;
}